body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    width: 80vh;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.settings {
    margin-bottom: 2rem;
}

.settings label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.settings input {
    width: 60px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.pomodoro-timer {
    margin-bottom: 2rem;
}

#timer {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

button {
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #5a4fcf;
}

.recording-section {
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;

}

#video {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 1rem;
}

.efficiency-graph {
    margin-top: 2rem;
}

#efficiencyChart {
    max-width: 600px;
    margin: 0 auto;
}